* {
	margin: 0px; padding: 0px;
}
a {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
html {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
tr {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
.header {
	min-width: 1200px;
}
body {
	min-width: 1200px;
}
body {
	background: rgb(255, 255, 255) !important; color: rgb(60, 60, 60); line-height: 180%; font-family: arial,Verdana,Geneva,Helvetica,"Microsoft YaHei",Simsun; font-size: 12px;
}
.New_tips {
	background: url(../images/NEW.png) no-repeat; top: -7px; width: 32px; height: 18px; right: 20px; position: absolute; z-index: 9999;
}
.en {
	font-family: Arial,Helvetica,sans-serif;
}
li {
	list-style: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	vertical-align: middle;
}
img {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
img {
	border: currentColor; border-image: none;
}
table {
	border-collapse: collapse;
}
.c-wrapper {
	margin: auto; width: 1200px;
}
.floatL {
	float: left;
}
.floatR {
	float: right;
}
.clear {
	height: 0px; overflow: hidden; clear: both; font-size: 0px;
}
.bold {
	font-weight: 700;
}
.color_blue {
	color: rgb(0, 186, 255) !important;
}
.color_blue a {
	color: rgb(0, 186, 255) !important;
}
.color_red {
	color: rgb(225, 9, 121) !important;
}
.color_red a {
	color: rgb(225, 9, 121) !important;
}
.color_green {
	color: rgb(154, 194, 59) !important;
}
.color_green a {
	color: rgb(154, 194, 59) !important;
}
.color_green2 {
	color: rgb(0, 191, 217) !important;
}
.color_green2 a {
	color: rgb(0, 191, 217) !important;
}
.color_yellow {
	color: rgb(241, 135, 55) !important;
}
.color_yellow a {
	color: rgb(241, 135, 55) !important;
}
.color_darkgray {
	color: rgb(136, 136, 136) !important;
}
.color_gray {
	color: rgb(221, 221, 221) !important;
}
.color_gray a {
	color: rgb(221, 221, 221) !important;
}
.fsize12 {
	font-size: 12px;
}
.fsize14 {
	font-size: 14px;
}
.fsize16 {
	font-size: 16px;
}
.inputW300 {
	width: 300px;
}
.inputW200 {
	width: 200px;
}
.inputW100 {
	width: 100px;
}
.border_none {
	border: currentColor !important; border-image: none !important;
}
.bg_none {
	background: 0px 0px !important;
}
.header {
	background: rgb(255, 255, 255); width: 100%; color: rgb(42, 42, 42); z-index: 5;
}
.header_wrapper {
	margin: auto; padding: 22px 0px; width: 1200px; position: relative; z-index: 8;
}
.logo {
	width: 400px; float: left;
}
.search-new {
	width: 527px; height: 30px; margin-top: 12px; float: right; position: relative; z-index: 0;
}
.search-new .s-lft {
	width: 420px; float: left;
}
.search-new .s-rgt {
	width: 97px; float: right;
}
.search-new .btn {
	background: rgb(231, 9, 121); border: 1px solid rgb(231, 9, 121); border-image: none; width: 97px; height: 34px; color: rgb(255, 255, 255); letter-spacing: 2px; font-family: "Microsoft YaHei"; font-size: 14px; cursor: pointer;
}
.search-new .city {
	border-width: 2px medium 2px 2px; border-style: solid none solid solid; border-color: rgb(231, 9, 121) currentColor rgb(231, 9, 121) rgb(231, 9, 121); padding: 0px 5px; outline: 0px; border-image: none; width: 420px; height: 30px; line-height: 31px;
}
.search-new .twitter-typeahead {
	width: 430px; height: 30px; float: left; display: block;
}
.search-new .tt-dropdown-menu {
	border-width: medium 2px 2px; border-style: none solid solid; border-color: currentColor rgb(243, 17, 150) rgb(243, 17, 150); border-image: none; left: 0px; top: 28px; width: 428px; display: block; position: absolute; z-index: 6; background-color: rgb(255, 255, 255);
}
.search-new .tt-suggestion {
	padding: 3px; line-height: 24px; font-size: 12px;
}
.search-new .tt-is-under-cursor.tt-suggestion {
	color: rgb(255, 255, 255); background-color: rgb(228, 0, 127);
}
.topbar .header-app-in b {
	background: url(../images/tourbate-icon-smaill.png) no-repeat left -20px; left: 0px; top: 8px; height: 20px;
}
.wx-icon-block1 b {
	background: url(../images/tourbate-icon-smaill.png) no-repeat left -20px; left: 0px; top: 8px; height: 20px;
}
.topbar {
	position: relative; z-index: 10;
}
.topbar li {
	text-align: center; float: left;
}
.topbar .topbar_hover {
	color: rgb(225, 9, 121);
}
.topbar li:hover {
	color: rgb(225, 9, 121);
}
.topbar li:hover a {
	color: rgb(225, 9, 121);
}
.topbar .header-app-in {
	margin-left: 15px; position: relative;
}
.topbar .header-app-in b {
	width: 15px; position: absolute;
}
.header_tel_top {
	position: relative;
}
.wx-icon-block {
	position: relative;
}
.wx-icon-block1 {
	position: relative;
}
.topbar .header-app-in a {
	padding-left: 18px;
}
.topbar .wx-icon-block {
	width: 84px; padding-right: 0px; padding-left: 0px;
}
.topbar .header_tel_top {
	width: 154px; padding-left: 0px;
}
.topbar .wx-icon-block1 {
	width: 94px; padding-right: 0px; padding-left: 0px;
}
.wx-icon-block1 b {
	width: 15px; position: absolute;
}
.nav-bg {
	height: 35px;
}
.navitems {
	height: 35px;
}
.wx-icon-block1 .wx-icon-down span {
	padding-left: 11px;
}
.wx-icon-block1 .wx-icon-down b {
	margin-left: 10px;
}
.wx-icon-block1 .wx-icon-down span a {
	display: block;
}
.topbar .tel-icon-down {
	color: rgb(231, 9, 121);
}
.header-tel {
	color: rgb(60, 60, 60);
}
.topbar .wx-appear .wx-id {
	color: rgb(60, 60, 60);
}
.nav-bg {
	width: 50%;
}
.nav .c-wrapper {
	margin-left: -600px;
}
.categorys {
	left: 0px; top: 0px; text-align: center; color: rgb(255, 255, 255); float: left; position: absolute;
}
.navitems li {
	color: rgb(255, 255, 255); float: left; position: relative;
}
.navitems li.hover .nav_icon_triangle {
	background-position: left;
}
.navitems li:hover .nav_icon_triangle {
	background-position: left;
}
.navitems li .navitems_content {
	padding: 10px 0px; top: 34px; width: 278px; border-right-color: rgba(136, 180, 34, 1); border-bottom-color: rgba(136, 180, 34, 1); border-left-color: rgba(136, 180, 34, 1); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: none; position: absolute; box-shadow: 1px 2px 2px rgba(0,0,0,0.3); background-color: rgb(253, 253, 254);
}
.navitems li .navitems_content .nav_content_left {
	width: 127px; padding-right: 10px; border-right-color: rgb(226, 226, 228); border-right-width: 1px; border-right-style: solid; float: left;
}
.navitems li .navitems_content .nav_content_right {
	width: 125px; padding-left: 10px; float: right;
}
.navitems li .one_list.navitems_content {
	width: 128px;
}
.navitems li .one_list.navitems_content dl {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.navitems li dd {
	width: 128px; height: 30px; line-height: 30px; overflow: hidden;
}
.navitems li dd a {
	color: rgb(48, 48, 48); font-size: 12px; display: block;
}
.navitems li dl.nav_content_left dd a {
	padding-left: 20px;
}
.navitems li dl.nav_content_right dd a {
	padding-left: 20px;
}
.navitems li dl dd:hover {
	background: rgb(229, 31, 133); color: rgb(255, 255, 255);
}
.navitems li dl.nav_content_right dd {
	margin-right: -3px;
}
.navitems li dl.nav_content_right dd:hover {
	background-position: right bottom;
}
.navitems li dd a:hover {
	color: rgb(255, 255, 255);
}
.navitems .hover.flashsales_hot {
	background-color: rgb(255, 255, 255);
}
.navitems .hover.flashsales_hot:hover {
	background-color: rgb(255, 255, 255);
}
.navitems li.selected {
	background-color: rgb(255, 255, 255);
}
.navitems li:hover {
	background-color: rgb(255, 255, 255);
}
.navitems li a {
	display: block;
}
.navitems li.flashsales_hot a {
	width: 63px;
}
.navitems li.selected a.title {
	overflow: hidden;
}
.navitems .flashsales_hot {
	position: relative;
}
.navitems .flashsales_hot img {
	left: 48px; top: -10px; display: none; position: absolute;
}
.continents {
	top: 40px; text-align: left; display: none; z-index: 4; box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}
.theme-more {
	top: 40px; text-align: left; display: none; z-index: 4; box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}
.navitems .hover.flashsales_hot a {
	color: rgb(0, 0, 0);
}
.theme-more {
	background: rgb(255, 255, 255); padding: 15px 10px; width: 300px; font-size: 14px; margin-left: -205px; position: absolute;
}
.theme-more li {
	background: url(../images/homenew-plist-icon.jpg) no-repeat left; width: 120px; height: 32px; line-height: 32px; overflow: hidden; padding-left: 10px; margin-left: 10px; float: left;
}
.theme-more li a {
	color: rgb(60, 60, 60);
}
.theme-more li a:hover {
	color: rgb(225, 9, 121);
}
.moreitems .more {
	background: url(../images/icon-arrows-down.png) no-repeat right; color: rgb(255, 255, 255); padding-right: 16px; padding-left: 16px; font-size: 14px;
}
.moreitems .up {
	background: url(../images/icon-arrows-up.png) no-repeat right;
}
.moreitems .continents {
	width: 100px; right: 0px;
}
.continents {
	height: 440px; overflow: hidden;
}
.continents ul {
	font-size: 15px;
}
.continents li {
	white-space: nowrap; cursor: pointer;
}
.contientsli {
	position: relative; z-index: 5;
}
.continents .sfHover .Island .hotlists .atitle a {
	position: absolute; cursor: default;
}
.continents li ul {
	position: absolute; cursor: default;
}
.sfHover .contientsli {
	margin: -1px 0px 0px;
}
.continents li:hover {
	color: rgb(0, 0, 0); border-top-left-radius: 4px; border-bottom-left-radius: 4px;
}
.no-decend dd a {
	border-left-color: rgb(225, 226, 227); border-left-width: 1px; border-left-style: solid;
}
.continents .en {
	font-family: Arial,Helvetica,sans-serif; font-size: 13px;
}
.continents .cityHot {
	margin-left: 10px;
}
.continents .hotcities {
	line-height: 22px;
}
.continents .contientsname {
	width: 175px; height: 22px; line-height: 24px; overflow: hidden;
}
.continents .hotcities a:hover {
	color: rgb(225, 9, 121); text-decoration: underline;
}
.continents .cityHot a {
	color: rgb(153, 153, 153); font-family: simsun; font-size: 12px; text-decoration: underline; margin-left: 6px;
}
.continents .cityHot:hover {
	color: rgb(60, 60, 60);
}
.continents .cityHot:hover a {
	color: rgb(60, 60, 60);
}
.continents li ul {
	padding: 10px 10px 20px; width: 890px; overflow: hidden; font-size: 14px; box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.continents li ul li {
	padding: 2px 0px; border: currentColor !important; border-image: none !important; color: rgb(60, 60, 60); line-height: 18px;
}
.continents .sfHover .floatL {
	border-right-color: rgb(222, 222, 222); border-right-width: 1px; border-right-style: dotted;
}
.continents .sfHover .America.North {
	width: 410px;
}
.continents .sfHover .Oceania {
	width: 405px;
}
.continents .sfHover .Africa dd {
	width: 310px;
}
.continents .sfHover .America.North dd {
	width: 310px;
}
.continents .sfHover .Oceania dd {
	width: 310px;
}
.continents .sfHover .America.South dd {
	width: 310px;
}
.continents .sfHover .Africa {
	width: 405px;
}
.continents .sfHover .Island {
	width: 405px;
}
.continents .sfHover .America.South {
	width: 405px;
}
.continents .sfHover .Island .citys a {
	padding: 0px 9px; line-height: 30px; font-weight: 700; float: left; display: block; white-space: nowrap;
}
.continents .sfHover .Island .hotlists {
	padding: 10px 0px; width: 390px; border-top-color: rgb(222, 222, 222); border-top-width: 1px; border-top-style: dotted;
}
.continents .sfHover .Island .hotlists .atext {
	padding-left: 65px;
}
.continents .sfHover .Island .hotlists .atext a {
	padding: 6px 8px; font-size: 12px; float: left; display: block; white-space: nowrap;
}
.continents li ul dl {
	padding: 5px 0px 2px 10px; overflow: hidden; position: relative;
}
.continents li ul > li:first-child dl {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.continents li ul dt {
	width: 80px; text-align: right; overflow: hidden; font-weight: 700; position: absolute;
}
.continents li ul dt a {
	width: 70px; float: left; display: block;
}
.continents li ul dd {
	width: 330px; padding-right: 15px; padding-left: 85px; font-size: 12px; -ms-word-break: normal; -ms-word-wrap: break-word;
}
.continents li ul dd span {
	margin: 3px 2px; height: 14px; color: rgb(221, 221, 221) !important; line-height: 14px; border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: solid; float: left; display: inline; white-space: nowrap;
}
.continents li ul dd span:last-of-type {
	border: currentColor; border-image: none;
}
.continents li ul dd a {
	padding: 0px 6px; display: inline;
}
.continents li ul li:hover {
	background: 0px 0px !important; color: rgb(255, 255, 255);
}
.continents li ul .en {
	padding-left: 5px; font-size: 12px;
}
.continents li ul li ul {
	background: rgba(0, 0, 0, 0.8) !important; margin-left: 17px;
}
.sf-menu ul {
	left: 0px; top: 100%; display: none; position: relative; z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li.sfHover > ul {
	display: block;
}
.sf-menu li:hover > ul {
	display: block;
}
.sf-menu {
	margin-bottom: 1em;
}
.sf-menu li {
	white-space: nowrap;
}
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
}
.sf-arrows .sf-with-ul::after {
	border-width: 5px; border-style: solid; border-color: rgba(255, 255, 255, 0.5) transparent transparent; border-image: none; top: 50%; width: 0px; height: 0px; right: 1em; margin-top: -3px; position: absolute; content: "";
}
.sf-arrows ul .sf-with-ul::after {
	border-color: transparent transparent transparent rgb(223, 238, 255); margin-top: -5px; margin-right: -3px;
}
.sf-arrows.sf-vertical > li > .sf-with-ul::after {
	border-color: transparent transparent transparent rgb(223, 238, 255); margin-top: -5px; margin-right: -3px;
}
.sf-arrows > .sfHover > .sf-with-ul::after {
	border-top-color: rgb(255, 255, 255);
}
.sf-arrows > li:hover > .sf-with-ul::after {
	border-top-color: rgb(255, 255, 255);
}
.sf-arrows > li > .sf-with-ul:focus::after {
	border-top-color: rgb(255, 255, 255);
}
.sf-arrows ul .sf-with-ul::after {
	border-left-color: rgba(255, 255, 255, 0.5);
}
.sf-arrows ul .sfHover > .sf-with-ul::after {
	border-left-color: rgb(255, 255, 255);
}
.sf-arrows ul li:hover > .sf-with-ul::after {
	border-left-color: rgb(255, 255, 255);
}
.sf-arrows ul li > .sf-with-ul:focus::after {
	border-left-color: rgb(255, 255, 255);
}
.sf-vertical ul {
	left: 180px; top: 0px;
}
.sf-arrows.sf-vertical > li > .sf-with-ul::after {
	border-left-color: rgba(255, 255, 255, 0.5);
}
.sf-arrows.sf-vertical .sfHover > .sf-with-ul::after {
	border-left-color: rgb(255, 255, 255);
}
.sf-arrows.sf-vertical li:hover > .sf-with-ul::after {
	border-left-color: rgb(255, 255, 255);
}
.sf-arrows.sf-vertical li > .sf-with-ul:focus::after {
	border-left-color: rgb(255, 255, 255);
}
.content {
	margin: 35px auto 0px; width: 1200px; position: relative; z-index: 1; min-width: 1000px; max-width: 1500px;
}
.copyright {
	background: rgb(62, 62, 62); padding: 20px 0px; margin-top: 20px;
}
.copyright .partner {
	background: 0px 0px; text-align: left; padding-bottom: 10px; border-bottom-color: rgb(84, 84, 84); border-bottom-width: 1px; border-bottom-style: solid;
}
.copyright .partner-link-world {
	background: 0px 0px; text-align: left; padding-bottom: 10px; border-bottom-color: rgb(84, 84, 84); border-bottom-width: 1px; border-bottom-style: solid;
}
.copyright .partner-title {
	font-size: 14px;
}
.copyright .partner {
	margin-bottom: 10px;
}
.copyright .partner li {
	margin: 10px 15px 0px 0px; float: left;
}
.copyright .partner li a:hover {
	color: rgb(255, 255, 255);
}
.copyright .partner li a {
	width: 120px; text-align: center; color: rgb(225, 225, 225); overflow: hidden; display: block;
}
.copyright .partner li a span {
	width: 120px; height: 25px; overflow: hidden;
}
.copyright .partner-link-world li {
	margin: 8px 15px 0px 0px; float: left;
}
.copyright .partner-link-world li a:hover {
	color: rgb(255, 255, 255);
}
.copyright .partner-link-world li a {
	width: 120px; color: rgb(225, 225, 225); overflow: hidden; display: block;
}
.copyright .partner-link-world li a span {
	width: 120px; height: 25px; overflow: hidden;
}
.copyright {
	color: rgb(255, 255, 255);
}
.copyright a {
	color: rgb(255, 255, 255);
}
.copyright dl {
	padding: 10px 0px 20px;
}
.copyright dt {
	width: 930px; line-height: 24px; float: left;
}
.copyright dt .cut_line {
	margin: 0px 5px;
}
.copyright dt a {
	font-size: 13px;
}
.copyright dt p {
	color: rgb(225, 225, 225); font-size: 12px;
}
.copyright dt p a {
	color: rgb(225, 225, 225); font-size: 12px;
}
.copyright dd {
	width: 220px; margin-top: 6px; float: left;
}
.copyright dd img {
	margin: 0px 5px; width: 98px;
}
.copyright .link {
	border-top-color: rgb(67, 67, 67); border-top-width: 1px; border-top-style: solid;
}
.copyright .link a {
	color: rgb(225, 225, 225);
}
.page {
	padding: 10px 0px 40px; width: 100%; text-align: center; margin-top: 20px;
}
.page a {
	padding: 5px 10px; border: 1px solid rgb(179, 179, 179); border-image: none; color: rgb(102, 102, 102); font-size: 14px;
}
.page .hover {
	background: rgb(251, 92, 152); border: 1px solid rgb(243, 17, 150); border-image: none; color: rgb(255, 255, 255); font-weight: 700;
}
.bdbridge-icon-group {
	border-radius: 4px;
}
.hwlayout_box {
	border-radius: 4px;
}
#bdbridge-left-close {
	display: none !important;
}
#bridgehead {
	background: 0px 0px !important;
}
hr {
	border-width: 1px medium medium; border-style: dashed none none; border-color: rgb(221, 221, 221) currentColor currentColor; border-image: none; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);
}
#load_img {
	background: rgb(255, 255, 255); padding: 5px; border-radius: 4px; border: 1px solid rgb(210, 210, 210); border-image: none; font-size: 14px;
}
.hwlayout_box {
	background: rgb(255, 255, 255); border: 1px solid rgb(210, 210, 210); border-image: none;
}
.hwlayout_box_title {
	background: rgb(250, 250, 250); height: 50px; line-height: 50px; padding-left: 20px; font-size: 16px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.hwlayout_box .left_title {
	left: 20px; top: 20px; position: absolute;
}
.hwlayout_box_close {
	padding: 15px 20px; border-radius: 4px; top: 1px; right: 0px; border-left-color: rgb(238, 238, 238); border-left-width: 1px; border-left-style: solid; display: block; position: absolute;
}
.hwlayout_box_close:hover {
	background: rgb(238, 238, 238);
}
.hwlayout_box_text {
	margin: 30px 100px 50px;
}
.hwlayout_box_text p {
	font-size: 13px;
}
.hwlayout_box .layout_btn_grey {
	width: 258px; height: 40px; font-family: "Microsoft YaHei"; font-size: 16px; margin-top: 2px; cursor: pointer;
}
.hwlayout_box .layout_btn_red {
	width: 258px; height: 40px; font-family: "Microsoft YaHei"; font-size: 16px; margin-top: 2px; cursor: pointer;
}
.hwlayout_box .layout_btn_red {
	background: rgb(225, 9, 121); border-radius: 4px; border: 1px solid rgb(165, 1, 74); border-image: none; color: rgb(255, 255, 255); display: block;
}
.hwlayout_box .layout_btn_grey {
	background: rgb(221, 221, 221); border-radius: 4px; color: rgb(0, 0, 0); border-bottom-color: rgb(210, 210, 210); border-bottom-width: 2px; border-bottom-style: solid;
}
.hwlayout_box.hwlayout_box td {
	padding: 3px; text-align: left; font-size: 14px;
}
.hwlayout_box table input {
	padding: 9px 3px; border-radius: 4px; border: 1px solid rgb(210, 210, 210); border-image: none; width: 250px; height: 14px; line-height: 20px;
}
.hwlayout_box .order_error {
	display: inline; position: absolute;
}
.hwlayout_box .hwlayout_error {
	color: red; font-size: 13px;
}
.hw-yhq {
	background: url(../images/yhq-bg.png) no-repeat; border: currentColor; border-image: none; width: 559px; height: 559px; color: rgb(255, 255, 255);
}
.hw-yhq .hwlayout_box_text {
	margin: 0px 30px; padding: 160px 35px 35px 50px; border-bottom-color: rgb(231, 80, 158); border-bottom-width: 1px; border-bottom-style: dashed;
}
.hw-yhq .hwlayout_box_text .hw-yhq-text {
	padding-left: 40px;
}
.hw-yhq .hwlayout_box_text p {
	line-height: 45px; font-size: 20px;
}
.hw-yhq .hwlayout_box_text p b {
	font-size: 22px; font-weight: 700;
}
.hw-yhq .hwlayout_box_text .hw-yhq-text2 p {
	line-height: 55px; padding-left: 15px; font-size: 26px;
}
.hw-yhq .hwlayout_box_text2 .hw-yhq-text2 p b {
	font-size: 28px;
}
.hw-yhq .hwlayout_box_close {
	background: rgb(198, 2, 94); padding: 3px; border-radius: 0px; border: currentColor; border-image: none; top: 90px; right: 45px; color: rgb(255, 255, 255); display: block; position: absolute;
}
.hw-yhq .yhq-btn2 {
	margin: 40px auto auto; height: 68px; text-align: center; color: rgb(229, 31, 133); line-height: 56px; font-size: 24px;
}
.hw-yhq a.yhq-btn {
	margin: 40px auto auto; height: 68px; text-align: center; color: rgb(229, 31, 133); line-height: 56px; font-size: 24px;
}
.hw-yhq .hwlayout_box_close:hover {
	background: rgb(122, 122, 122);
}
.hw-yhq a.yhq-btn {
	background: url(../images/yhq-btn.png) no-repeat; width: 321px; display: block;
}
.hw-yhq .yhq-btn2 {
	width: 300px;
}
.footer-app-download {
	background: url(../images/app-bg.png); left: 0px; width: 100%; height: 150px; bottom: 0px; color: rgb(255, 255, 255); font-size: 14px; position: fixed; z-index: 999;
}
.footer-app-download .c-wrapper {
	padding-top: 15px; position: relative;
}
.app-phone-download .app-download-android {
	background: url(../images/app-download-all.png) no-repeat;
}
.app-phone-download .app-download-iphone {
	background: url(../images/app-download-all.png) no-repeat;
}
.footer-app-download .app-phone-del {
	background: url(../images/app-download-all.png) no-repeat;
}
.footer-app-download .app-phone-img {
	background: url(../images/app-download-all.png) no-repeat;
}
.footer-app-download .app-phone-img {
	margin: -50px 60px 0px 40px; width: 310px; height: 190px;
}
.footer-app-download .app-phone-title {
	line-height: 42px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 22px; margin-top: 20px; margin-right: 80px;
}
.app-phone-title .app-title-big {
	letter-spacing: 1px; font-size: 42px; font-weight: 700;
}
.app-phone-title .app-title-small {
	width: 300px; line-height: 24px; font-size: 15px; margin-top: 11px;
}
.app-phone-title .app-title-small a {
	padding: 0px 3px; color: rgb(255, 255, 255); margin-right: 5px; background-color: rgb(255, 0, 156);
}
.footer-app-download .app-phone-erweima {
	margin-right: 50px;
}
.app-phone-download p {
	margin-bottom: 5px;
}
.app-phone-erweima p {
	margin-bottom: 5px;
}
.app-phone-download a {
	border-radius: 5px; border: 1px solid rgb(255, 255, 255); border-image: none; width: 130px; height: 40px; text-decoration: none; display: block;
}
.app-phone-download .app-download-iphone {
	background-position: -316px -18px; margin-bottom: 10px;
}
.app-phone-download .app-download-iphone:hover {
	border-color: rgb(14, 207, 225); background-color: rgb(14, 207, 225);
}
.app-phone-download .app-download-android {
	background-position: -316px -68px;
}
.app-phone-download .app-download-android:hover {
	border-color: rgb(171, 205, 7); background-color: rgb(171, 205, 7);
}
.footer-app-download .app-phone-del {
	background-position: -317px -118px; top: 18px; width: 35px; height: 35px; right: 30px; position: absolute; cursor: pointer;
}
.site-nav .site-nav-r .tel-icon-down .tri--dropdown {
	right: 8px; -webkit-transition: -webkit-transform .3s linear; -moz-transition: -moz-transform .3s linear; -o-transition: -o-transform .3s linear;
}
.site-nav .site-nav-r .wx-icon-down .tri--dropdown {
	right: 8px; -webkit-transition: -webkit-transform .3s linear; -moz-transition: -moz-transform .3s linear; -o-transition: -o-transform .3s linear;
}
.footer-app-download .app-phone-del:hover {
	background-position: -371px -118px;
}
.site-nav {
	background: rgb(248, 248, 248); color: rgb(153, 153, 153); line-height: 30px; font-family: simsun; border-bottom-color: rgb(240, 240, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
.site-nav .c-wrapper {
	width: 1200px;
}
.site-nav .site-nav-l a {
	margin: 0px 4px; height: 30px; color: rgb(102, 102, 102); position: relative;
}
.site-nav .site-nav-l a.user {
	padding-left: 25px;
}
.site-nav .site-nav-l a.user b {
	background: url(../images/tourbate-icon-smaill.png) no-repeat left 0px; left: 7px; top: 0px; width: 15px; height: 20px; position: absolute;
}
.site-nav a:hover {
	color: rgb(231, 9, 121);
}
.site-nav .singin {
	color: rgb(225, 9, 121) !important;
}
.site-nav .singin:hover {
	color: rgb(225, 9, 121) !important;
}
.site-nav .singup {
	color: rgb(102, 102, 102);
}
.site-nav .site-nav-r a {
	color: rgb(102, 102, 102);
}
.site-nav .site-nav-l {
	width: 400px; float: left;
}
.site-nav .site-nav-r {
	float: right;
}
.site-nav .site-nav-r a:hover {
	color: rgb(243, 17, 150);
}
address {
	font-style: italic;
}
cite {
	font-style: italic;
}
dfn {
	font-style: italic;
}
em {
	font-style: italic;
}
i {
	font-style: italic;
}
var {
	font-style: italic;
}
.site-nav .site-nav-r .tri {
	border: 3px dashed transparent; border-image: none; width: 0px; height: 0px; line-height: 0; font-size: 0px; position: absolute;
}
.site-nav .site-nav-r .tel-icon-down .tri--dropdown {
	top: 14px; border-top-color: rgb(243, 17, 150); border-top-width: 3px; border-top-style: solid;
}
.site-nav .site-nav-r .tel-hover .tri--dropdown {
	top: 11px; border-top-color: transparent; border-bottom-color: rgb(243, 17, 150); border-bottom-width: 3px; border-bottom-style: solid;
}
.site-nav .site-nav-r .wx-icon-down .tri--dropdown {
	top: 14px; border-top-color: rgb(102, 102, 102); border-top-width: 3px; border-top-style: solid;
}
.site-nav .site-nav-r .wx-hover .tri--dropdown {
	top: 11px; border-top-color: transparent; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 3px; border-bottom-style: solid;
}
.site-nav .site-nav-r .vertical-bar {
	background: rgb(153, 153, 153); top: 11px; width: 1px; height: 12px; right: 0px; display: block; position: absolute; z-index: 11;
}
.tel-hover .vertical-bar {
	right: -1px !important; display: none !important;
}
.wx-hover .vertical-bar {
	right: -1px !important; display: none !important;
}
.wx-icon-block .wx-hover {
	left: -1px !important; width: 49px !important;
}
.wx-icon-block .wx-hover span {
	margin-left: 1px;
}
.wx-icon-block1 .wx-hover {
	left: -1px !important; width: 59px !important;
}
.tel-icon-down {
	padding: 0px 20px 0px 14px; height: 30px; display: block; position: relative; z-index: 11;
}
.wx-icon-down {
	padding: 0px 20px 0px 14px; height: 30px; display: block; position: relative; z-index: 11;
}
.tel-hover.tel-icon-down {
	background: rgb(255, 255, 255); margin: 0px; color: rgb(243, 17, 150); text-decoration: none; border-right-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; box-shadow: 1px -1px 2px rgba(203,203,203,0.5);
}
.wx-hover.wx-icon-down {
	background: rgb(255, 255, 255); margin: 0px; color: rgb(243, 17, 150); text-decoration: none; border-right-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; box-shadow: 1px -1px 2px rgba(203,203,203,0.5);
}
.wx-hover.wx-icon-down {
	color: rgb(102, 102, 102) !important;
}
.tel-appear {
	background: rgb(255, 255, 255); padding: 6px 4px 6px 6px; border: 1px solid rgb(221, 221, 221); border-image: none; top: 27px; width: 126px; right: 0px; color: rgb(102, 102, 102); display: none; position: absolute; z-index: 9; box-shadow: 1px 1px 2px rgba(203,203,203,0.5);
}
.wx-appear {
	background: rgb(255, 255, 255); padding: 6px 4px 6px 6px; border: 1px solid rgb(221, 221, 221); border-image: none; top: 27px; width: 126px; right: 0px; color: rgb(102, 102, 102); display: none; position: absolute; z-index: 9; box-shadow: 1px 1px 2px rgba(203,203,203,0.5);
}
.wx-appear {
	top: 29px; padding-bottom: 0px; -ms-zoom: 1;
}
.tel-icon-down {
	padding: 0px 20px 0px 30px; color: rgb(231, 9, 121) !important;
}
.tel-appear {
	padding: 6px 4px 6px 22px;
}
.tel-hover b {
	left: 6px !important;
}
.tel-icon-down b {
	background: url(../images/tourbate-icon-smaill.png) no-repeat left -40px; left: 7px; top: 8px; width: 15px; height: 20px; position: absolute;
}
.navhot {
	padding: 2px 4px; border-radius: 2px; top: 4px; width: 23px; height: 5px; right: 2px; display: block; position: absolute;
}
.navhot1 {
	padding: 2px 4px; border-radius: 2px; top: 4px; width: 23px; height: 5px; right: 2px; display: block; position: absolute;
}
.navhot {
	background: url(../images/nav-icon-sales.gif) no-repeat center rgb(255, 255, 255);
}
.navhot1 {
	background: url(../images/nav-icon-hot02.gif) no-repeat center rgb(255, 255, 255);
}
#iconDiv1 {
	display: none;
}
#tq_kefu_main {
	display: none;
}
.KeFuBox span {
	display: none;
}
.ddnavhot {
	background: rgb(255, 255, 255); padding: 2px 4px; border-radius: 2px;
}
.searchtext {
	color: rgb(102, 102, 102); font-size: 14px; margin-top: 10px;
}
.searchtext a {
	padding: 0px 6px; color: rgb(60, 60, 60);
}
.searchtext a:hover {
	color: rgb(225, 9, 121);
}
.RightBox {
	background: rgb(102, 102, 102); width: 52px; right: 0px; bottom: 100px; position: fixed; z-index: 2000;
}
.RightBox .Line {
	margin: 0px auto; width: 39px; height: 0px; border-top-color: rgb(129, 129, 129); border-top-width: 1px; border-top-style: dashed;
}
#KeFuBtn {
	cursor: pointer;
}
#KeFuBtn span {
	left: 15px; top: 0px; color: rgb(255, 255, 255); line-height: 55px; font-size: 17px; position: absolute;
}
.KeFuBox {
	width: 52px; position: relative;
}
.KeFuBoxAct {
	width: 52px; position: relative;
}
.KeFuBoxAct {
	left: -103px; padding-left: 103px; background-color: rgb(251, 80, 152);
}
.KeFuBox {
	background: rgb(102, 102, 102); left: 0px;
}
.RightBox .KeFu {
	background: url(../images/kefuicon.png) no-repeat 10px; width: 52px; height: 52px;
}
.RightBox .BackToTop {
	background: url(../images/backtotopicon.png) no-repeat center; width: 100%; height: 52px; cursor: pointer;
}
.RightBox .BackToTop:hover {
	background-color: rgb(251, 80, 152);
}
.RightBox .Advise {
	background: url(../images/adviseicon.png) no-repeat center; width: 100%; height: 52px; cursor: pointer;
}
.AdviseBox {
	left: 50%; top: 50%; width: 634px; margin-top: -182.5px; margin-left: -305px; position: fixed; z-index: 9999;
}
.Sendbox {
	left: 50%; top: 50%; width: 634px; margin-top: -182.5px; margin-left: -305px; position: fixed; z-index: 9999;
}
.AdviseBox {
	background: url(../images/adviseboxbg_v2.png) no-repeat center; height: 365px;
}
.Sendbox {
	background: url(../images/sentboxbg.png) no-repeat center; height: 446px;
}
.Sendbox td:first-child {
	width: 140px;
}
.SendContent {
	height: 423px !important;
}
.AdviseContent {
	left: 0px; width: 610px; height: 343px; bottom: 0px; position: absolute;
}
.AdviseContent .HeadWord {
	width: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 1; font-size: 28px; font-weight: 100; margin-top: 28px; display: block;
}
.AdviseContent .AdviseText {
	background: url(../images/advisetextbg.png) center; margin: 13px 15.5px 0px; padding: 15px 20px; border-radius: 2px; border: currentColor; border-image: none; width: 539px; height: 165px; color: rgb(255, 255, 255); line-height: 1.5; font-family: arial,Verdana,Geneva,Helvetica,"Microsoft YaHei",Simsun; font-size: 16px; resize: none;
}
.box {
	font-family: "Î¢ÈíÑÅºÚ";
}
.box .btn_gray {
	font-family: "Î¢ÈíÑÅºÚ";
}
.box .btn_red {
	font-family: "Î¢ÈíÑÅºÚ";
}
.center .lft li {
	font-family: "Î¢ÈíÑÅºÚ";
}
.tableList h3 {
	font-family: "Î¢ÈíÑÅºÚ";
}
.traveller {
	font-family: "Î¢ÈíÑÅºÚ";
}
.AdviseContent .ASubmitBtn {
	background: rgb(254, 80, 152); margin: 22px auto 0px; border-radius: 3px; width: 199px; height: 33px; text-align: center; color: rgb(255, 255, 255); line-height: 33px; font-size: 18px; display: block; cursor: pointer;
}
.AdviseDone font {
	text-align: center; color: rgb(255, 255, 255); font-size: 28px; font-weight: 100; display: block;
}
.AdviseDoneSecond font {
	text-align: center; color: rgb(255, 255, 255); font-size: 28px; font-weight: 100; display: block;
}
.AdviseDoneThird font {
	text-align: center; color: rgb(255, 255, 255); font-size: 28px; font-weight: 100; display: block;
}
.AdviseContent .ASubmitBtn:hover {
	background: rgb(253, 95, 161);
}
.ACloseBtn:hover {
	animation:change 0.3s linear;
}
.ACloseBtn {
	background: url(../images/closebtnbg_v2.png) no-repeat center; top: 0px; width: 50px; height: 50px; right: 0px; display: block; position: absolute; cursor: pointer;
}
.AdviseDone img {
	margin: 58px auto 0px; width: 96px; display: block;
}
.AdviseDone font {
	width: 100%; margin-top: 55px;
}
.AdviseDoneSecond img {
	margin: 58px auto 0px; width: 96px; display: block;
}
.AdviseDoneSecond font {
	width: 100%; margin-top: 55px;
}
.AdviseDoneThird font {
	width: 100%; margin-top: 55px;
}
.AdviseDoneThird img {
	margin: 58px auto 0px; width: 96px; display: block;
}
.AdviseBtn:hover {
	left: -103px; width: 52px; padding-left: 103px; position: relative; background-color: rgb(251, 80, 152);
}
.AdviseBg {
	width: 100%; height: 100%;
}
.AdviseGroup {
	width: 100%; height: 100%;
}
.AdviseBtn:hover span {
	left: 15px; top: 0px; color: rgb(255, 255, 255); line-height: 55px; font-size: 17px; display: block; position: absolute;
}
.AdviseBtn span {
	display: none;
}
.AdviseGroup {
	left: 0px; top: 0px; position: fixed; z-index: 9999;
}
.AdviseBg {
	left: 0px; top: 0px; position: absolute;
}
.AlertBox {
	left: 0px; top: 0px; position: absolute;
}
.AlertBox .bg {
	left: 0px; top: 0px; position: absolute;
}
.AdviseBg {
	background: rgb(0, 0, 0); opacity: 0.4;
}
.AlertBox .bg {
	opacity: 0.6;
}
.CoverBox .Linker {
	opacity: 0.6;
}
.AlertBox {
	margin: auto; border-radius: 3px; width: 240px; height: 42px; text-align: center; right: 0px; bottom: 0px; color: rgb(255, 255, 255); line-height: 42px; font-size: 14px; z-index: 8000;
}
.AlertBox .bg {
	background: rgb(0, 0, 0); border-radius: 2px; width: 100%; height: 100%; z-index: 0;
}
.AlertBox span {
	position: relative; z-index: 2000;
}
.sfHover {
	background: url(../images/navbghover.png);
}
.hoverindex {
	width: 100%; height: 86px; float: left;
}
.sfHover .navhover {
	left: 0px; width: 100%; height: 86px; bottom: 0px; position: absolute; z-index: 9999;
}
.center {
	margin: 20px auto; width: 1200px; font-size: 14px; position: relative;
}
.banner {
	background: url(../images/user_banner.jpg) repeat-x bottom rgb(0, 0, 0); width: 100%; height: 230px;
}
.center .center_wrap {
	background-color: rgb(255, 255, 255);
}
.center .lft {
	width: 235px; position: relative; box-shadow: 2px 2px 5px #ddd;
}
.center .rgt {
	padding: 30px 20px; width: 925px; float: right; min-height: 450px; box-shadow: inset 2px 2px 5px #ddd;
}
.center .lft ul {
	padding-top: 45px;
}
.center .lft li {
	width: 262px; height: 51px; text-align: center; line-height: 45px; font-size: 14px;
}
.center .lft li a {
	color: rgb(0, 0, 0);
}
.center .lft ul .hover {
	background: url(../images/user_navBg.png) no-repeat right; color: rgb(255, 255, 255); font-weight: 700; margin-left: -13px;
}
.center .lft ul .hover a {
	color: rgb(255, 255, 255); margin-left: 13px;
}
.center .rgt .list {
	margin-top: 25px;
}
.center .rgt .list td {
	padding: 10px 5px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.center .rgt .list th {
	padding: 10px 5px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.center .rgt .list th {
	padding: 5px 0px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 2px; border-bottom-style: solid;
}
.center .rgt .list .pic {
	padding: 1px; border-radius: 3px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
.center .rgt .list td {
	text-align: center;
}
.center .rgt .list .color {
	color: rgb(221, 221, 221);
}
.center .rgt .list .color a {
	margin: 0px 5px; color: rgb(0, 171, 235);
}
.center .rgt .list .tips {
	background: rgb(246, 246, 246); margin: auto auto 50px; padding: 30px; width: 700px;
}
.center .rgt .list dl {
	margin: 15px 0px; height: 30px; clear: both;
}
.center .rgt .list dt {
	width: 185px; text-align: right; float: left;
}
.center .rgt .list dd {
	width: 350px; text-align: left; margin-left: 10px; float: left;
}
.center .rgt .list dd input {
	padding: 6px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 300px;
}
.center .rgt .list .radio input {
	width: 20px;
}
.center .rgt .list dd select {
	padding: 6px; border: 1px solid rgb(221, 221, 221); border-image: none; margin-right: 10px;
}
.center .rgt .list .btn {
	clear: both; margin-top: 40px; margin-bottom: 20px; margin-left: 195px;
}
.item .contact strong {
	margin-left: 30px;
}
.item .floatR {
	margin-left: 30px;
}
.againBuyBtn {
	background: rgb(228, 0, 127); border: currentColor; border-image: none; width: 120px; height: 35px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; cursor: pointer; box-shadow: 2px 2px 4px #ddd;
}
.center .rgt .list .btn .btn-red {
	background: rgb(228, 0, 127); border: currentColor; border-image: none; width: 120px; height: 35px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; cursor: pointer; box-shadow: 2px 2px 4px #ddd;
}
.deleBtn {
	background: rgb(228, 0, 127); border: currentColor; border-image: none; width: 120px; height: 35px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; cursor: pointer; box-shadow: 2px 2px 4px #ddd;
}
.paymentBtn {
	background: rgb(228, 0, 127); border: currentColor; border-image: none; width: 120px; height: 35px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; cursor: pointer; box-shadow: 2px 2px 4px #ddd;
}
.center .rgt .list .btn .btn-gray {
	background: rgb(195, 195, 195); border: currentColor; border-image: none; width: 120px; height: 35px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; box-shadow: 2px 2px 4px #ddd;
}
.item .floatL {
	padding: 1px; border-radius: 3px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 350px;
}
.item .floatR {
	width: 350px; line-height: 30px; float: left;
}
.item .floatR .title {
	padding-bottom: 10px; font-size: 16px; font-weight: 700; margin-bottom: 20px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dotted;
}
.box {
	font-size: 14px;
}
.boxAdd .tips {
	font-size: 14px;
}
.item .contact strong {
	font-size: 14px;
}
.item .floatR p {
	font-size: 14px;
}
.item .tips {
	font-size: 14px;
}
.tableList h3 {
	font-size: 14px;
}
.tableNull {
	font-size: 14px;
}
.traveller {
	font-size: 14px;
}
.item .floatR .more {
	text-align: right; margin-top: -30px;
}
.item .contact {
	background: rgb(249, 249, 249); margin-top: 5px; box-shadow: 1px 1px 3px #ddd;
}
.item .tips {
	background: rgb(249, 249, 249); margin-top: 5px; box-shadow: 1px 1px 3px #ddd;
}
.item .contact {
	padding: 20px 0px; clear: both;
}
.item .tips {
	padding: 20px 30px; line-height: 30px;
}
.item .comment {
	margin: auto; width: 750px;
}
.item .comment textarea {
	border: 1px solid rgb(163, 163, 163); border-image: none; width: 100%; height: 100px; margin-top: 15px;
}
.item .comment .star {
	width: 150px; height: 30px; overflow: hidden; margin-top: -28px;
}
.item .comment .star .grade_circle {
	background: url(../images/c_comment_bg.png) no-repeat; margin: 0px; width: 30px; height: 100%; float: left; display: inline-block;
}
.item .comment .star .hover.grade_circle {
	background: url(../images/c_comment_icon_bg2.png) no-repeat;
}
.item .comment .star .selected.grade_circle {
	background: url(../images/c_comment_icon.png) no-repeat;
}
.item .comment .explain {
	background: url(../images/c_comment-tips.gif) no-repeat left top; width: 50px; text-align: center; color: rgb(255, 255, 255); padding-left: 9px; margin-left: 160px;
}
.againBuyBtn {
	border-radius: 3px; width: 80px; height: 26px; margin-bottom: 5px;
}
.deleBtn {
	border-radius: 3px; width: 80px; height: 26px; margin-bottom: 5px;
}
.paymentBtn {
	border-radius: 3px; width: 80px; height: 26px; margin-bottom: 5px;
}
.item .comment .btn {
	text-align: right; margin-top: 10px !important;
}
.tableNull {
	text-align: center; padding-top: 30px;
}
.againBuyBtn {
	padding: 5px 12px;
}
.traveller {
	margin: auto; width: 94%;
}
.boxAdd {
	margin-top: 20px;
}
.btnAdd {
	margin-top: 20px;
}
.traveller td {
	padding: 2px; text-align: center;
}
.traveller th {
	padding: 2px; text-align: center;
}
.btnAdd a {
	padding: 5px 30px; border-radius: 3px; box-shadow: 2px 2px 5px #ddd;
}
.btnSave #btnCancle {
	padding: 5px 30px; border-radius: 3px; box-shadow: 2px 2px 5px #ddd;
}
.btnSave a {
	padding: 5px 30px; border-radius: 3px; box-shadow: 2px 2px 5px #ddd;
}
.traveller td a {
	color: rgb(0, 171, 235);
}
.traveller td a:hover {
	text-decoration: underline;
}
.btnAdd {
	text-align: right; margin-right: 30px;
}
.btnAdd a {
	background: rgb(225, 9, 121); color: rgb(255, 255, 255);
}
.btnSave a {
	background: rgb(225, 9, 121); color: rgb(255, 255, 255);
}
.btnSave #btnCancle {
	background: rgb(195, 195, 195); color: rgb(60, 60, 60);
}
.boxAdd {
	background: rgb(246, 246, 246); padding: 30px 50px; border-radius: 3px;
}
.boxAdd input {
	padding: 4px; border: 1px solid rgb(195, 195, 195); border-image: none; width: 180px;
}
.boxAdd select {
	padding: 6px; border: 1px solid rgb(195, 195, 195); border-image: none; margin-right: 8px;
}
.boxAdd #card_type {
	width: 190px;
}
.boxAdd p {
	margin: 10px 0px;
}
.boxAdd td {
	text-align: left;
}
.box .btn {
	text-align: center;
}
.box .text {
	text-align: center;
}
.box .text2 {
	text-align: center;
}
.box .text3 {
	text-align: center;
}
.tableList td {
	text-align: center;
}
.boxAdd .name {
	width: 83px;
}
.boxAdd .tips {
	color: rgb(153, 153, 153);
}
.btnSave {
	margin-top: 20px; margin-left: 71px;
}
.box {
	background: rgb(255, 255, 255); padding: 20px 30px; border-radius: 3px; border: 1px solid rgb(238, 238, 238); border-image: none; left: 36%; top: 300px; width: 200px; height: 120px; position: absolute;
}
.box .text {
	height: 60px; line-height: 200%; margin-top: 30px;
}
.box .text2 {
	height: 90px; line-height: 159%; margin-top: 4px;
}
.box .text3 {
	height: 60px; line-height: 200%; margin-top: 30px;
}
.box .btn_gray {
	background: rgb(225, 9, 121); margin: 5px; padding: 5px 0px; border: currentColor; border-image: none; width: 75px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; box-shadow: 1px 2px 4px #ddd;
}
.box .btn_red {
	background: rgb(225, 9, 121); margin: 5px; padding: 5px 0px; border: currentColor; border-image: none; width: 75px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; box-shadow: 1px 2px 4px #ddd;
}
.tableList {
	margin-top: 20px;
}
.tableList h3 {
	margin-top: 20px;
}
.box .btn_gray {
	background: rgb(221, 221, 221); color: rgb(0, 0, 0);
}
.begin {
	background: rgb(225, 9, 121); padding: 5px 20px; color: rgb(255, 255, 255); margin-left: 10px; box-shadow: 2px 2px 4px #ddd;
}
.itinerary {
	box-shadow: 1px 1px 3px #ddd;
}
.travel .text {
	box-shadow: 1px 1px 3px #ddd;
}
.continents li ul {
	font-family: arial,Verdana,Geneva,Helvetica,"Microsoft YaHei",Simsun;
}
.search_box .city {
	font-family: arial,Verdana,Geneva,Helvetica,"Microsoft YaHei",Simsun;
}
.tableList table {
	line-height: 32px; margin-top: 5px;
}
.travel .text {
	background: rgb(249, 249, 249);
}
.travel .text p {
	margin: 20px 15px; padding: 20px 15px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.travel .text p span {
	margin-left: 5px;
}
.tableList th {
	background: rgb(238, 238, 238); border: 1px solid rgb(255, 255, 255); border-image: none;
}
.tableList td {
	background: rgb(249, 249, 249);
}
.tableList td.order-text-left {
	text-align: left; padding-left: 20px;
}
.itinerary {
	background: rgb(249, 249, 249); padding: 20px 30px; line-height: 26px; margin-top: 5px;
}
.Price {
	line-height: 40px; font-size: 13px;
}
.Word {
	line-height: 40px; font-size: 13px;
}
.addCoupon {
	margin-top: 30px;
}
.addCoupon #activity_code {
	padding: 3px; width: 100px; height: 18px;
}
.addCoupon #coupon_code {
	padding: 3px; width: 100px; height: 18px;
}
.addCoupon #addCouponBtn {
	background: rgb(225, 9, 121); padding: 4px 15px; border-radius: 3px; border: 1px solid rgb(225, 9, 121); border-image: none; color: rgb(255, 255, 255);
}
.userWishListBox {
	margin: 0px auto; width: 925px; height: 300px;
}
.Content2 {
	width: 230px; position: relative;
}
.ContentImgBox {
	width: 230px; position: relative;
}
.Content2 {
	margin: 0px 35px 35px; float: left; box-shadow: 0px 1px 16px -8px #666;
}
.ContentImgBox {
	height: 153px; overflow: hidden;
}
.ContentImg {
	margin: auto; left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
.Word {
	width: 110px; height: 40px; color: rgb(51, 51, 51); overflow: hidden; padding-left: 10px; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.Price {
	color: rgb(255, 99, 177); padding-right: 10px; float: right;
}
.BtnGroup {
	line-height: 18px;
}
.add {
	line-height: 18px;
}
.Price font {
	color: rgb(102, 102, 102); font-size: 12px; text-decoration: line-through;
}
.Content2:hover .CoverBox {
	display: block;
}
.CoverBox {
	left: 0px; top: 0px; width: 100%; height: 153px; display: none; position: absolute;
}
.CoverBox .Linker {
	width: 100%; height: 100%; position: absolute;
}
.CoverContent {
	width: 100%; height: 100%; position: absolute;
}
.CoverBox .Linker {
	background: rgb(0, 0, 0); display: block; z-index: 0;
}
.CoverContent {
	z-index: 10;
}
.ContentWord {
	margin: 50px auto 0px; width: 170px; height: 60px; color: rgb(255, 255, 255); font-size: 12px; display: block; position: relative; z-index: 20;
}
.RecycleBtn {
	right: 10px; position: absolute;
}
.add {
	right: 10px; position: absolute;
}
.add {
	height: 18px;
}
.add b {
	height: 18px;
}
.BtnGroup {
	display: inline-block;
}
.add b {
	display: inline-block;
}
.ContentWord::first-letter {
	font-size: 18px;
}
.add {
	width: 200px; text-align: right; bottom: 47px; color: rgb(255, 255, 255); font-size: 12px; vertical-align: top; z-index: 999;
}
.add b {
	background: url(../images/search-icon.png) no-repeat left -140px; width: 12px; margin-right: 5px; vertical-align: middle; -ms-zoom: 1;
}
.RecycleBtn {
	background: url(../images/rubbishicon.png) no-repeat; top: 10px; width: 15px; height: 15px; z-index: 200; cursor: pointer;
}
.RecycleGroup {
	text-align: center; padding-top: 60px; position: relative; z-index: 200;
}
.RecycleGroup font {
	color: rgb(255, 255, 255); font-size: 14px;
}
.BtnGroup {
	border: 1px solid rgb(206, 206, 206); border-image: none; width: 51px; height: 18px; color: rgb(255, 255, 255); font-size: 12px; margin-top: 10px; cursor: pointer;
}
.ContentWordBox {
	width: 100%; float: left; display: block;
}
.MainPage {
	margin: 0px auto; width: 1200px;
}
.HeadNormal {
	width: 100%; height: 35px; position: relative; z-index: 40; min-width: 1200px;
}
.HomeContent {
	padding-bottom: 100px;
}
.contientsli {
	padding: 10px 0px 10px 36px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.sfHover .contientsli {
	padding: 10px 0px 10px 36px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.HeadMainPage {
	margin: 0px auto; width: 1200px; position: relative;
}
.Navi {
	position: absolute;
}
.navline {
	position: absolute;
}
.Navi {
	background: url(../images/navbg.jpg); left: 0px; top: 0px; width: 100%; height: 35px; z-index: 10;
}
.continents {
	background: url(../images/navbg.png); border: currentColor; border-image: none;
}
.continents li ul {
	background: url(../images/navbg.png); border: currentColor; border-image: none;
}
.categorys .continents {
	left: -33px; top: 35px; height: 380px; overflow: visible; position: absolute;
}
.continents {
	width: 259px;
}
.continents li {
	color: rgb(255, 255, 255);
}
.continents li ul {
	left: 259px; top: 0px; height: 350px; color: rgb(255, 255, 255); z-index: 30;
}
.categorys .title {
	background: 0px 0px;
}
.down.categorys {
	background: 0px 0px;
}
.up.categorys {
	background: 0px 0px;
}
.continents .contientsname {
	background: 0px 0px;
}
.continents .sfHover .contientsname {
	background: 0px 0px;
}
.navitems .hover.flashsales_hot {
	background: 0px 0px;
}
.navitems .hover.flashsales_hot:hover {
	background: 0px 0px;
}
.navitems li.selected {
	background: 0px 0px;
}
.navitems li:hover {
	background: 0px 0px;
}
.continents li ul dt {
	height: 20px; font-size: 16px;
}
.continents li ul dt a {
	color: rgb(255, 255, 255); font-size: 15px;
}
.continents li ul dd a:hover {
	color: rgb(231, 9, 121);
}
.continents li ul dt:hover a {
	color: rgb(231, 9, 121);
}
.continents li ul dd a {
	color: rgb(255, 255, 255);
}
.continents li ul dl {
	border: currentColor; border-image: none; height: auto; line-height: normal;
}
.RightNavi {
	line-height: 35px;
}
.nav {
	line-height: 35px;
}
.continents li ul dl:hover {
	background: 0px 0px; border: currentColor; border-image: none;
}
.continents .sfHover span {
	color: rgb(255, 255, 255);
}
.contientsli {
	margin: 0px; width: 223px;
}
.continents .sfHover .Island .citys a {
	color: rgb(255, 255, 255); font-size: 14px;
}
.continents .sfHover .Island .hotlists .atext a {
	color: rgb(255, 255, 255); font-size: 12px;
}
.continents .sfHover .Island .hotlists .atitle a {
	color: rgb(255, 255, 255); font-size: 12px;
}
.categorys {
	font-size: 15px;
}
.navitems li {
	font-size: 15px;
}
.sf-menu {
	list-style: none; color: rgb(255, 255, 255);
}
.sf-menu * {
	list-style: none; color: rgb(255, 255, 255);
}
.continents li ul dd span {
	overflow: visible;
}
.navline {
	left: 0px; top: 30px; height: 315px; border-left-color: rgb(79, 85, 89); border-left-width: 1px; border-left-style: dashed;
}
.nav {
	height: 35px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; position: relative; z-index: 5;
}
.nav .c-wrapper {
	margin: 0px; left: 0px; top: 0px; width: 640px !important; height: 35px; float: left; position: static;
}
.dropdown {
	position: absolute;
}
.head_navqrcode {
	position: absolute;
}
.s-rgt {
	position: absolute;
}
.search_box {
	position: absolute;
}
.LogoNormal {
	width: 74px; height: 35px; float: left;
}
.LLogoNormalogo img {
	width: 74px; height: 55px;
}
.Head_LeftNavi {
	width: 600px; margin-left: 35px; float: left;
}
.categorys {
	width: 50px;
}
.categorys.up .title {
	color: rgb(229, 31, 133);
}
.sfHover .contientsli {
	width: 223px; margin-top: 0px; border-top-color: currentColor; border-right-color: currentColor; border-top-width: medium; border-right-width: medium; border-top-style: none; border-right-style: none;
}
.navitems {
	margin-left: 60px;
}
.navitems li.selected a.title {
	color: rgb(255, 255, 255);
}
.navitems li.selected .title {
	padding: 0px 16px; color: rgb(255, 255, 255); cursor: pointer;
}
.navitems li a {
	padding: 0px 17px !important; border: currentColor; border-image: none; color: rgb(255, 255, 255); margin-top: 0px;
}
.navitems li a:hover {
	color: rgba(136, 180, 34, 1) !important; text-decoration: none;
}
.RightNavi {
	float: right;
}
.RightNavi {
	color: rgb(255, 255, 255); font-size: 15px;
}
.RightNavi a {
	color: rgb(255, 255, 255); font-size: 15px;
}
.RightNavi a:hover {
	color: rgba(136, 180, 34, 1);
}
.continents .sfHover .Africa {
	background: url(../images/navbg.png);
}
.continents .sfHover .Island {
	background: url(../images/navbg.png);
}
.continents .sfHover .Oceania {
	background: url(../images//navbg.png);
}
.continents .sfHover .America.South {
	background: url(../images/navbg.png);
}
.continents li:hover {
	background: url(../images/navbghover.png);
}
.navitems li.hover a.title {
	background: 0px 0px !important;
}
.navitems li.navhome.hover a.title {
	background: 0px 0px !important;
}
.navitems li.navjwct.hover a.title {
	background: 0px 0px !important;
}
.navitems li.navhome:hover a.title {
	background: 0px 0px !important;
}
.navitems li.navjwct:hover a.title {
	background: 0px 0px !important;
}
.navitems li:hover a.title {
	background: 0px 0px !important;
}
.head_navqrcode {
	background: url(../images/Head_PhoneQRBg.png); left: 50%; top: 35px; width: 134px; height: 154px; margin-left: -67px;
}
.head_navqrcode img {
	padding: 6px 6px 0px; width: 122px; height: 122px;
}
.head_navqrcode p {
	width: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 1; font-size: 12px; margin-top: 8px; display: block;
}
#QrCodeNav:hover .head_navqrcode {
	display: block !important;
}
#QrCodeNav:hover .title {
	color: rgb(229, 31, 133);
}
#QrCodeNav .title {
	padding: 0px 25px; color: rgb(255, 255, 255); cursor: pointer;
}
.search_box {
	top: 6px; right: 360px; z-index: 3000;
}
.search_box .city {
	padding: 0px 20px 0px 10px; outline: 0px; border-radius: 3px; border: currentColor; border-image: none; width: 180px; height: 23px; line-height: 23px; background-color: rgb(204, 204, 204) !important;
}
.s-lft {
	width: 210px; z-index: 1;
}
.twitter-typeahead {
	background: rgb(255, 255, 255); width: 443px; height: 42px;
}
.search_box .btn {
	background: url(../images/searchbtnbg1.png) no-repeat center rgb(204, 204, 204); border-radius: 3px; border: currentColor; border-image: none; width: 23px; height: 23px; font-size: 14px; cursor: pointer;
}
.s-rgt {
	top: 0px; width: 23px; right: 0px; float: right; z-index: 2;
}
.tt-query {
	padding: 8px 12px; outline: 0px; border: 2px solid rgb(204, 204, 204); border-image: none; width: 396px; height: 30px; line-height: 30px; font-size: 12px;
}
.tt-hint {
	color: rgb(153, 153, 153); display: none;
}
.tt-dropdown-menu {
	border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; width: 102%; text-align: left; margin-top: 6px; background-color: rgb(255, 255, 255);
}
.tt-suggestion {
	padding: 3px; line-height: 24px; font-size: 12px;
}
.tt-is-under-cursor.tt-suggestion {
	color: rgb(255, 255, 255); background-color: rgb(228, 0, 127);
}
.tt-suggestion p {
	margin: 0px 0px 0px 5px;
}


.dropdown {
	left: 24px; z-index: 999;
}
.navitems .dropdown a {
	color: rgb(0, 0, 0);
}
.LangMenu {
	background: url(../images/langmenuicon.png) no-repeat 88px; width: 100px; height: 35px; text-align: center; line-height: 35px; margin-left: 20px; float: right; display: inline-block; position: relative; cursor: default;
}
.LangMenu:hover ul {
	display: block;
}
.LangMenu ul {
	background: url(../images/navbg.png); left: 0px; top: 35px; width: 100%; text-align: center; display: none; position: absolute;
}
.LangMenu ul li {
	height: 42px; line-height: 42px; position: relative;
}
.LangMenu ul li a {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.LangMenu ul li a:hover {
	background: rgb(157, 47, 102); color: rgb(255, 255, 255) !important;
}
.NoMarginLeft {
	margin-left: 0px;
}
.LangMenu li font {
	width: 53px; height: 42px; text-align: right; line-height: 42px; font-size: 15px !important; float: left; display: block;
}
.FootHead ul {
	text-align: center; color: rgb(194, 194, 194);
}
.QrCode span {
	text-align: center; color: rgb(194, 194, 194);
}
.LangMenu span {
	font-size: 15px !important; margin-right: 10px; float: right;
}
.CurPenny span {
	margin-right: 6px !important;
}
.FootListGroup {
	width: 750px; margin-top: 25px; float: left;
}
.Foot {
	background: rgba(122, 122, 122, 1); width: 100%; height: 255px; overflow: hidden; position: relative; min-width: 1200px;
}
.FootHead {
	background: url(../images/footback.jpg) no-repeat bottom rgba(122, 122, 122, 1); width: 100%; height: 176px;
}
.FootHead ul {
	width: 850px; line-height: 1; margin-bottom: 20px; float: left;
}
.FootHead ul li a {
	color: rgb(194, 194, 194); font-size: 13px;
}
.FootHead li:first-child {
	width: 84px; padding-top: 0px; font-size: 16px; margin-left: 0px;
}
.FootHead li {
	padding-top: 2px; margin-left: 25px; float: left;
}
.FootHead li:first-child i {
	left: -2px; height: 13px; margin-top: 2px; border-left-color: rgba(136, 180, 34, 1); border-left-width: 4px; border-left-style: solid; float: left; display: block; position: relative;
}
.QrCodeBox {
	margin-top: 20px; float: left;
}
.telephone {
	margin-top: 22px; margin-left: 15px; float: left;
}
.QrCode {
	width: 113px; margin-left: 16px; float: left;
}
:first-child.QrCode {
	margin-left: 0px;
}
.QrCode span {
	width: 100%; font-size: 12px; margin-top: 10px; display: block;
}
.QrCode img {
	width: 113px; height: 113px;
}
.FootLast p {
	width: 100%; text-align: center; float: left; display: block;
}
.FootLast span {
	width: 100%; text-align: center; float: left; display: block;
}
.FootLast {
	text-align: center; line-height: 1;
}
.FootLast p {
	margin-top: 20px;
}
.FootLast span {
	margin-top: 7px;
}
.FootLast ul {
	margin: 30px auto 0px; width: 640px;
}
.FootLast ul li {
	margin-left: 34px; float: left;
}
.FootLast ul li:first-child {
	margin-left: 0px;
}
.FootLast {
	color: rgb(194, 194, 194);
}
.FootLast a {
	color: rgb(194, 194, 194);
}
.navitems li dd a{
	padding:0px !important;
	padding-left:10px !important;
	font-size:14px;
}
.navitems li dd a:hover{
	background:  rgba(136, 180, 34, 1) !important; color: rgb(255, 255, 255) !important;
}