<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="Plumsys.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="Plumsys.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="Plumsys.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="Plumsys.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="Plumsys.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="Plumsys.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="Plumsys.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="Plumsys.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="Plumsys.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="Plumsys.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="Plumsys.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="Plumsys.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="Plumsys.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="Plumsys.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="Plumsys.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useraddress" type="other" page="useraddress.aspx" inherit="Plumsys.Web.UI.Page.useraddress" templet="useraddress.html">
    <item path="user/address.aspx" pattern="user/address.aspx" />
    <item path="user/address-{0}.aspx" pattern="user/address-(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="useraddress_edit" type="other" page="useraddress_edit.aspx" inherit="Plumsys.Web.UI.Page.useraddress_edit" templet="useraddress_edit.html">
    <item path="user/address/{0}.aspx" pattern="user/address/(\w+).aspx" querystring="action=$1" />
    <item path="user/address/{0}-{1}.aspx" pattern="user/address/(\w+)-(\d+).aspx" querystring="action=$1^id=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="Plumsys.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="Plumsys.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="Plumsys.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="mfeedback" type="plugin" page="mfeedback.aspx" inherit="Plumsys.Web.Plugin.Feedback.feedback" templet="mfeedback.html">
    <item path="mfeedback.aspx" pattern="mfeedback.aspx" />
    <item path="mfeedback/{0}.aspx" pattern="mfeedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="Plumsys.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="PackageTour" type="index" page="PackageTour.aspx" inherit="Plumsys.Web.UI.Page.article" templet="PackageTour.html" channel="PackageTour" />
  <rewrite name="PackageTour_List" type="list" page="PackageTour_List.aspx" inherit="Plumsys.Web.UI.Page.article_list" templet="PackageTour_List.html" channel="PackageTour" />
  <rewrite name="PackageTour_Detail" type="detail" page="PackageTour_Detail.aspx" inherit="Plumsys.Web.UI.Page.article_show" templet="PackageTour_Detail.html" channel="PackageTour" />
  <rewrite name="Grogshop" type="index" page="Grogshop.aspx" inherit="Plumsys.Web.UI.Page.article" templet="Grogshop.html" channel="Grogshop" />
  <rewrite name="Grogshop_List" type="list" page="Grogshop_List.aspx" inherit="Plumsys.Web.UI.Page.article_list" templet="Grogshop_List.html" channel="Grogshop" />
  <rewrite name="Grogshop_Detail" type="detail" page="Grogshop_Detail.aspx" inherit="Plumsys.Web.UI.Page.article_show" templet="Grogshop_Detail.html" channel="Grogshop" />
  <rewrite name="content" type="detail" page="content.aspx" inherit="Plumsys.Web.UI.Page.article_show" templet="content.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="tsearch" type="list" page="tsearch.aspx" inherit="Plumsys.Web.UI.Page.article_list" templet="tsearch.html" channel="tourist_mall" pagesize="20" />
  <rewrite name="tourist_mall_list" type="list" page="tourist_mall_list.aspx" inherit="Plumsys.Web.UI.Page.article_list" templet="tourist_mall_list.html" channel="tourist_mall" pagesize="4">
    <item path="tourist_mall/{0}.aspx" pattern="tourist_mall/(\d+).aspx" querystring="category_id=$1" />
    <item path="tourist_mall/{0}/{1}.aspx" pattern="tourist_mall/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="tourist_mall_show" type="detail" page="tourist_mall_show.aspx" inherit="Plumsys.Web.UI.Page.article_show" templet="tourist_mall_show.html" channel="tourist_mall">
    <item path="tourist_mall/show-{0}.aspx" pattern="tourist_mall/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
</urls>