
        <div class="Foot">
            <div class="FootHead">
                <div class="MainPage">
                    <div class="FootListGroup">
                        <ul>
                            <li><i></i>关于我们</li>
                            <li>
                                <a href="#" target="_blank">优行简介</a>
                            </li>
                            <li><a href="#" target="_blank">联系我们</a></li>
                            <li>
                                <a href="#" target="_blank">
                                    职位招聘
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    加盟合作
                                </a>
                            </li>

                        </ul>
                        <ul>
                            <li><i></i>网站条款</li>
                            <li>
                                <a href="#"
                                   target="_blank">用户协议</a>
                            </li>
                            <li><a href="#" target="_blank">隐私保护</a></li>
                            <li>
                                <a href="#"
                                   target="_blank">版权声明</a>
                            </li>
                        </ul>
                        <ul>
                            <li><i></i>友情链接</li>
                            <li>
                                <a href="#"
                                   target="_blank">友情链接1</a>
                            </li>
                            <li><a href="#" target="_blank">友情链接2</a></li>
                            <li>
                                <a href="#"
                                   target="_blank">友情链接3</a>
                            </li>
                            <li>
                                <a href="#"
                                   target="_blank">友情链接4</a>
                            </li>
                        </ul>
                    </div>
                    <div class="QrCodeBox">
                        <div class="QrCode">
                            <img src="<%templateskin%>/images/wechatcode.jpg" />
                            <span>官方微信</span>
                        </div>
                        <div class="telephone">
                            <img src="<%templateskin%>/images/telephone.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="FootLast">
                <div class="MainPage">
                    <p>Copyright © 2013-2016, youxing.com.All Rights Reserved.</p><span>
                        苏州优行网络有限公司. |
                        京ICP证 140491号 | 京ICP备14002764号-1 | 旅行社业务经营许可证 L-BJ-CJ00104
                    </span>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
      <!--footer end-->
   
   
