
        <!--nav begin-->
        <div class="HeadNormal">
            <div class="Navi">
                <div class="HeadMainPage">
                    <div class="LogoNormal">
                        <a title="优行网" href="http://www.youxing.com/">
                            <img alt="优行网"
                                 src="<%templateskin%>/images/logonormal_v3.png" />
                        </a>
                    </div>
                    <div class="Head_LeftNavi">
                        <div class="nav">
                            <div class="c-wrapper">
                                <div></div>
                                <div class="navitems floatL">
                                    <ul class="header_themlist">
                                        <li>
                                            <a class="title" href="#" target="_self">
                                                跟团游
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                            <div class="navitems_content one_list">
                                                <dl class="nav_content_left">
                                                    <dd>
                                                        <a href="#">境外1</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">境内1</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="title" href="#"
                                               target="_self">
                                                自由行
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                             <div class="navitems_content one_list">
                                                <dl class="nav_content_left">
                                                    <dd>
                                                        <a href="#">境外2</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">境内2</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="title" href="#" target="_self">
                                                酒店
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                             <div class="navitems_content one_list">
                                                <dl class="nav_content_left">
                                                    <dd>
                                                        <a href="#">境外3</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">境内3</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="title" href="#" target="_self">
                                                门票
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                             <div class="navitems_content one_list">
                                                <dl class="nav_content_left">
                                                    <dd>
                                                        <a href="#">境外4</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">境内4</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </li>
                                        <li class="navjwct">
                                            <a class="title" href="#" target="_self">
                                                玩乐
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                             <div class="navitems_content one_list">
                                                <dl class="nav_content_left">
                                                    <dd>
                                                        <a href="#">境外5</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">境内5</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </li>
                                        <li class="navhome selected">
                                            <a class="title" href="#" target="_self">
                                                通讯
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                             <div class="navitems_content one_list">
                                                <dl class="nav_content_left">
                                                    <dd>
                                                        <a href="#">境外6</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">境内6</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="search_box">
                        <div id="header_search_box">
                            <div class="s-lft">
                                <input id="defaultSearch" type="hidden" />

                                <input name="home_city" class="typeahead city" id="header_search_city_input" type="text" placeholder="" />
                            </div>
                            <div class="s-rgt">
                                <input class="btn" id="header_search_button" type="button" value=" " />
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="RightNavi">
                        <span id="un_login">
                            <a class="singin" href="<%linkurl("login")%>" target="_self">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="singup" href="<%linkurl("register")%>" target="_self">注册</a>
                        </span><span id="au_login" style="display: none;">
                            <a class="user" href="#">我的优行</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="uloginout" href="<%linkurl("usercenter","exit")%>" target="_self">退出</a>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!--nav end-->
       