<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>优行网 - 跟团游,自由行,酒店,门票,玩乐,通讯</title>
    <meta name="keywords" content=" 跟团游,自由行,酒店,门票,玩乐,通讯行" />
    <meta name="description" content="优行网包含跟团游,自由行,酒店,门票,玩乐,通讯等各种旅游产品。" />
    <link rel="stylesheet" type="text/css" href="css/huiyuan.css"/>
    <style type="text/css">
        #addPickupDiv .text dl {
            position: relative;
        }

        #addPickupDiv .text dt {
            position: absolute;
            top: 0px;
            width: 120px;
            text-align: right;
        }

        #addPickupDiv .text dd {
            margin-left: 130px;
            text-align: left;
        }

            #addPickupDiv .text dd input[type=text] {
                width: 240px;
                height: 16px;
                padding: 6px;
            }
    </style>
</head>
<body>
    <div class="wrap">
        <!--nav begin-->
        <div class="HeadNormal">
            <div class="Navi">
                <div class="HeadMainPage">
                    <div class="LogoNormal">
                        <a title="优行网" href="http://www.youxing.com/">
                            <img alt="优行网"
                                 src="images/logonormal_v3.png" />
                        </a>
                    </div>
                    <div class="Head_LeftNavi">
                        <div class="nav">
                            <div class="c-wrapper">
                                <div></div>
                                <div class="navitems floatL">
                                    <ul class="header_themlist">
                                        <li>
                                            <a class="title" href="#" target="_self">
                                                跟团游
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
 <div class="navitems_content one_list">
                                                <dl class="nav_content_left">
                                                    <dd>
                                                        <a href="#">境外6</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">境内6</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="title" href="#"
                                               target="_self">
                                                自由行
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                             <div class="navitems_content one_list">
                                                <dl class="nav_content_left">
                                                    <dd>
                                                        <a href="#">境外6</a>
                                                    </dd>
                                                    <dd>
                                                        <a href="#">境内6</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="title" href="#" target="_self">
                                                酒店
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="title" href="#" target="_self">
                                                门票
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                        </li>
                                        <li class="navjwct">
                                            <a class="title" href="#" target="_self">
                                                玩乐
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                        </li>
                                        <li class="navhome selected">
                                            <a class="title" href="#" target="_self">
                                                通讯
                                                <div class="navitag" style="display: none;"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="search_box">
                        <div id="header_search_box">
                            <div class="s-lft">
                                <input id="defaultSearch" type="hidden" />

                                <input name="home_city" class="typeahead city" id="header_search_city_input" type="text" placeholder="" />
                            </div>
                            <div class="s-rgt">
                                <input class="btn" id="header_search_button" type="button" value=" " />
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="RightNavi">
                        <span id="un_login">
                            <a class="singin" href="#" target="_self">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="singup" href="#" target="_self">注册</a>
                        </span><span id="au_login" style="display: none;">
                            <a class="user" href="#">我的优行</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="uloginout" href="#" target="_self">退出</a>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!--nav end-->
        <div class="banner"></div>
        <!--content begin-->
        <div class="content center">
            <div class="center_wrap">
                <div class="rgt">
                    <div class="tableNull">你当前还没有订单，快找找喜欢的活动和线路吧！<a class="begin" href="http://www.youxing.com/">马上开始</a></div><!--page begin-->
                    <!--page end-->
                </div>
                <div class="lft">
                    <ul>
                        <li class="hover">
                            <a href="#">我的订单</a>
                        </li>
                        <li><a href="#">购物车</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">常用旅客</a></li>
                        <li><a href="#">优惠券</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div><!--content end-->
        <!--footer begin-->
        <div class="Foot">
            <div class="FootHead">
                <div class="MainPage">
                    <div class="FootListGroup">
                        <ul>
                            <li><i></i>关于我们</li>
                            <li>
                                <a href="#" target="_blank">优行简介</a>
                            </li>
                            <li><a href="#" target="_blank">联系我们</a></li>
                            <li>
                                <a href="#" target="_blank">
                                    职位招聘
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    加盟合作
                                </a>
                            </li>

                        </ul>
                        <ul>
                            <li><i></i>网站条款</li>
                            <li>
                                <a href="#"
                                   target="_blank">用户协议</a>
                            </li>
                            <li><a href="#" target="_blank">隐私保护</a></li>
                            <li>
                                <a href="#"
                                   target="_blank">版权声明</a>
                            </li>
                        </ul>
                        <ul>
                            <li><i></i>友情链接</li>
                            <li>
                                <a href="#"
                                   target="_blank">友情链接1</a>
                            </li>
                            <li><a href="#" target="_blank">友情链接2</a></li>
                            <li>
                                <a href="#"
                                   target="_blank">友情链接3</a>
                            </li>
                            <li>
                                <a href="#"
                                   target="_blank">友情链接4</a>
                            </li>
                        </ul>
                    </div>
                    <div class="QrCodeBox">
                        <div class="QrCode">
                            <img src="images/wechatcode.jpg" />
                            <span>官方微信</span>
                        </div>
                        <div class="telephone">
                            <img src="images/telephone.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="FootLast">
                <div class="MainPage">
                    <p>Copyright © 2013-2016, youxing.com.All Rights Reserved.</p><span>
                        苏州优行网络有限公司. |
                        京ICP证 140491号 | 京ICP备14002764号-1 | 旅行社业务经营许可证 L-BJ-CJ00104
                    </span>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <!--footer end-->
        <div class="box" id="confirmDeleDiv" style="display: none;">
            <div>
                <div class="text">
                    <p>确认删除订单？</p>
                </div>
                <div class="btn">
                    <input class="btn_red" id="btn_yes" style="cursor: pointer;" type="button" value="确定" />

                    <input class="btn_gray" id="btn_no" style="cursor: pointer;" type="button" value="取消" />
                </div>
            </div>
        </div>
        <div class="box" id="confirmCancelDiv" style="display: none;">
            <div>
                <div class="text">
                    <p>是否取消订单？</p>
                </div>
                <div class="btn">
                    <input class="btn_red" id="btn_cancel_yes" style="cursor: pointer;" type="button" value="是" />
                    <input class="btn_gray" id="btn_cancel_no" style="cursor: pointer;" type="button" value="否" />
                </div>
            </div>
        </div>
        <div class="box" id="confirmRefundDiv" style="display: none;">
            <div>
                <div class="text">
                    <p>是否退款？</p>
                </div>
                <div class="btn">
                    <input class="btn_red" id="btn_refund_yes" style="cursor: pointer;" type="button" value="是" />
                    <input class="btn_gray" id="btn_refund_no" style="cursor: pointer;" type="button" value="否" />
                </div>
            </div>
        </div>
        <div class="box" id="confirmCancelpayDiv" style="display: none;">
            <div>
                <div class="text">
                    <p>是否取消支付状态？</p>
                </div>
                <div class="btn">
                    <input class="btn_red" id="btn_cancelpay_yes" style="cursor: pointer;" type="button" value="是" />
                    <input class="btn_gray" id="btn_cancelpay_no" style="cursor: pointer;" type="button" value="否" />
                </div>
            </div>
        </div>
        <div class="box" id="addPickupDiv" style="left: 50%; top: 50%; width: 500px; height: 500px; margin-top: -250px; margin-left: -250px; display: none; position: fixed;">
            <div class="text">
                <dl id="meetAirportDiv" style="display: none;">
                    <dt>接机航班号:</dt>
                    <dd><input id="meetAirport" type="text" /></dd>
                </dl>
                <dl id="seeOffAirportDiv" style="display: none;">
                    <dt>送机航班号:</dt>
                    <dd><input id="seeOffAirport" type="text" /></dd>
                </dl>
                <dl id="meetHotelDiv" style="display: none;">
                    <dt>接酒店名称:</dt>
                    <dd><input id="meetHotelName" type="text" /></dd>
                </dl>
                <dl id="meetHotelAddressDiv" style="display: none;">
                    <dt>接酒店地址:</dt>
                    <dd><input id="meetHotelAddress" type="text" /></dd>
                </dl>
                <dl id="seeOffHotelDiv" style="display: none;">
                    <dt>送酒店名称:</dt>
                    <dd><input id="seeOffHotelName" type="text" /></dd>
                </dl>
                <dl id="seeOffHotelAddressDiv" style="display: none;">
                    <dt>送酒店地址:</dt>
                    <dd><input id="seeOffHotelAddress" type="text" /></dd>
                </dl>
                <dl id="mailDiv" style="display: none;">
                    <dt>邮递地址:</dt>
                    <dd><input id="mailingAddress" type="text" /></dd>
                </dl>
                <div class="btn">
                    <input class="btn_red" id="btn_addPickup_yes" style="cursor: pointer;" type="button" value="确定" />
                    <input class="btn_gray" id="btn_addPickup_no" style="cursor: pointer;" type="button" value="取消" />
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/huiyuan.js"></script>
    <script type="text/javascript">
        var pass = "已过期";
        var shengyu = "剩余";
        var xiaoshi = "小时";
        var fenzhong = "分钟"
        if(Cookie.get("language") == "tw"){
            pass = "已過期";
            shengyu = "剩餘";
            xiaoshi = "小時";
            fenzhong = "分鐘"
        }

        var Alarm = function (timeleft, indexVar) {
            this.index = indexVar;
            this.minus = timeleft;
        };
        Alarm.prototype.start = function () {
            var self = this;
            self.flag = setInterval(function () {
                if (self.minus <= 0) {
                    clearInterval(self.flag);
                    $(".countdown" + self.index + "").hide();
                    $(".countdown" + self.index + "").hide();
                    $(".varinfo" + self.index + "").html(pass);
                    $("#payInfo" + self.index + "").hide();
                    $("#expireInfo" + self.index + "").show();
                } else {
                    if (self.minus % 60 < 60 && parseInt(self.minus / 60 % 60) <= 0 && parseInt(self.minus / 60 / 60 % 24) <= 0) {
                        $(".countdown" + self.index + " font").html(shengyu + "1" + fenzhong);
                    }
                    else {
                        var minutes = parseInt(self.minus / 60 % 60);
                        var hours = parseInt(self.minus / 60 / 60 % 24);
                        if (hours <= 0) {
                            $(".countdown" + self.index + " font").html(shengyu + minutes + "分");
                        } else {
                            $(".countdown" + self.index + " font").html(shengyu + hours + xiaoshi + minutes + "分");
                        }
                    }
                }
                self.minus = self.minus - 1;
            }, 1000);
        }
        var orders = ;
        for (var i = 0; i < orders; i++) {
            var obj = "countOrder" + i + "";
            var timeRemaining = $("#" + obj).attr("data-timeremaining");
            new Alarm((timeRemaining), i).start();
        }
    </script>
</body>
</html>